.container {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
}

@media (min-width: 769px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 800px;
  }
}
