@font-face {
  font-family: 'Inclusive Sans';
  src: url('../../assets/fonts/InclusiveSans-Regular.woff2') format('woff2'),
    url('../../assets/fonts/InclusiveSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('../../assets/fonts/InclusiveSans-Bold.woff2') format('woff2'),
    url('../../assets/fonts/InclusiveSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Inclusive Sans, Arial, Helvetica, sans-serif;
  color: var(--gray-900);
}
