#filter-select-container {
  margin-bottom: 15px;
}

#filter-select-container .flex-container {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#filter-select-container label {
  font-weight: bold;
}

@media (min-width: 769px) {
  #filter-select-container {
    margin-bottom: 30px;
  }
}
