header {
  padding: 15px;
  border-bottom: 1px solid var(--gray-900);
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1280px) {
  header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
